<div>
  <app-card class="card">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
      <app-form-field class="login-full-width" >
        <input placeholder="Username" formControlName="username">
        <app-error *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
          Username is <strong>required</strong>
        </app-error>
        <app-error *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('minlength')">
          Username has a minimum length of <strong>4</strong>
        </app-error>
      </app-form-field>
      <app-form-field>
        <input formControlName="password" type="password" placeholder="Enter your password">
        <app-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
          Password is <strong>required</strong>
        </app-error>
        <app-error *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')">
          Password has a minimum length of <strong>4</strong>
        </app-error>
      </app-form-field>
      <button type="submit" class="btn primary">Login</button>
      <app-error class="error-form" *ngIf="formError">{{ formError }}</app-error>
  </form>
  </app-card>
</div>
